<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702704734503-07jb1sp40dv7b8d929farppfr09bjmr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702704734503-07jb1sp40dv7b8d929farppfr09bjmr9</string>
	<key>API_KEY</key>
	<string>AIzaSyDDgn8jAGlbZeRFJyfqCiwbBfHNserUW8c</string>
	<key>GCM_SENDER_ID</key>
	<string>702704734503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crispin.appfirebase</string>
	<key>PROJECT_ID</key>
	<string>appfirebase-29875</string>
	<key>STORAGE_BUCKET</key>
	<string>appfirebase-29875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702704734503:ios:669de5301e748be72d5902</string>
	<key>DATABASE_URL</key>
	<string>https://appfirebase-29875.firebaseio.com</string>
</dict>
</plist>